build
build_with_trace
deps
deps_bindings
*.pb.*
.*
*core*
docs/html
docs/xml
docs/latex
docs/_build
*.pyc
*.d
measurements/
_*
apps/eigen3
apps/data/*/*.bin
logs/
*.log

cmake-build-debug/
CMakeFiles/
recommonmark/

# generated
meta_pb2.py
custom.mk

# emacs c++
GPATH
GRTAGS
GSYMS
GTAGS
cscope.files
cscope.out

stats/

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST